.App {
    text-align: center;
}

form {
    margin: 20px;
}

button {
    margin: 10px;
}

pre {
    text-align: left;
    margin: 20px auto;
    width: 80%;
    background: #f0f0f0;
    padding: 20px;
    border-radius: 5px;
}
